body {
  background-color: rgba(42, 81, 123, 0.858);
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.centerByCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centerText {
  text-align: center;
}

.form {
  width: 100%;
}

.myButton {
  border: none !important;
}

.myButton:hover span {display:none}
.myButton:hover:before {content:"Delete"}

.route {
  list-style: none;
  text-decoration: none;
  border: 1px solid black;
  text-align: center;
  font-size: 5rem;
  padding: 2rem;
  margin: 2rem;
  width: 50vw;
}

.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerItem {
  width: 100%;
}